.cbp-fwslider {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background:#3C4348;
	color: #777;
	font-size: 26px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.cbp-fwslider nav span:hover {
	background:#1371B3;
	color:#ffffff;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 19%;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 19%;
}
@media only screen and (max-width: 1280px){
	.wrap{
		width:95%;
	}
	.cbp-fwslider nav span.cbp-fwnext {
		right: 17.5%;
	}
	.cbp-fwslider nav span.cbp-fwprev {
		left: 17.5%;
	}
}
@media only screen and (max-width: 1024px){
	.wrap{
		width:95%;
	}
	.cbp-fwslider nav span.cbp-fwnext {
		right: 16.5%;
	}
	.cbp-fwslider nav span.cbp-fwprev {
		left: 16.5%;
	}
}
@media only screen and (max-width: 800px){
	.wrap{
		width:95%;
	}
	.cbp-fwslider nav span.cbp-fwnext {
		right: 14.5%;
	}
	.cbp-fwslider nav span.cbp-fwprev {
		left: 14.5%;
	}
}
@media only screen and (max-width: 600px){
	.wrap{
		width:95%;
	}
	.cbp-fwslider nav span.cbp-fwnext {
		right: 13.5%;
	}
	.cbp-fwslider nav span.cbp-fwprev {
		left: 13.5%;
	}
	.cbp-fwslider nav span {
		width: 35px;
		height: 61px;
		line-height: 63px;
		margin-top: -32px;
	}
}
@media only screen and (max-width: 480px){
	.wrap{
		width:95%;
	}
	.cbp-fwslider nav span {
		width: 35px;
		height: 61px;
		line-height: 63px;
		margin-top: -32px;
	}
	.cbp-fwslider nav span.cbp-fwnext {
		right: 11.5%;
	}
	.cbp-fwslider nav span.cbp-fwprev {
		left: 11.5%;
	}
	.container {
		top: -23px;
	}
	.bottom-text h2{
		margin-top: 10px;
	}
}	
@media only screen and (max-width: 320px){
	.wrap{
		width:95%;
	}
	.cbp-fwslider nav span.cbp-fwnext {
		right: 6.5%;
	}
	.cbp-fwslider nav span.cbp-fwprev {
		left: 6.5%;
	}
}	